/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --gold-bronze: #C49C48;
}
body{
    font-family: 'Righteous', sans-serif;
    background-color: #222;
}
a{
    text-decoration: none;
}



/* TITLE */
.app h1, .app h4{
    text-align: center;
    margin: 1rem;
    color: var(--gold-bronze);
}
.app h4{
    color: #555;
}



/* SEARCH CONTAINER AND CONTENTS */
.search{
    display: flex;
    justify-content: center;
}
.search input{
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    background-color: #333;
    color: var(--gold-bronze);
    border-radius: 25px;
    width: 75%;
}
.search img{
    width: 60px;
    cursor: pointer;
    background-color: #C49C48;
    border-radius: 15px;
    padding: 10px;
    margin-top: 3px;
}


/* MOVIE DISPLAY/INFO */
.movie-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.movie{
    cursor: pointer;
    padding: 2rem;
    margin: 3rem;
}
.movie:hover{
    transition: .2s ease-in-out;
    transform: scale(1.2);
    opacity: 0.3;
}
.movie-info{
    background-color: #333;
    border-top: none;
    color: #777;
    padding: 10px;
}


/* MISC */
.empty h2{
    color: #777;
    border: 2px solid #777;
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    font-size: 20px;
}
.success{
    color: #777;
    height: fit-content;
    width: 100%;
    margin-top: 25px;
}